# PyBank Homework assignment

## Michael Nackoul June 26, 2023

### Repo location - https://github.com/mnackoul/python-homework

In [1]:
import pandas as pd
from pathlib import Path

In [2]:
csv_file = Path('../Starter_Code/PyBank/Resources/budget_data.csv')

In [3]:
budget_df = pd.read_csv(csv_file)
budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
num_months = budget_df.shape[0]

In [5]:
num_months

86

In [6]:
net_profit = budget_df['Profit/Losses'].sum()
net_profit

38382578

In [7]:
budget_df['Day Change'] = budget_df['Profit/Losses'].diff()

In [8]:
budget_df.head()

       Date  Profit/Losses  Day Change
0  Jan-2010         867884         NaN
1  Feb-2010         984655    116771.0
2  Mar-2010         322013   -662642.0
3  Apr-2010         -69417   -391430.0
4  May-2010         310503    379920.0

In [9]:
budget_df.set_index(pd.to_datetime(budget_df['Date'], infer_datetime_format=True), inplace=True)
budget_df.head()

                Date  Profit/Losses  Day Change
Date
2010-01-01  Jan-2010         867884         NaN
2010-02-01  Feb-2010         984655    116771.0
2010-03-01  Mar-2010         322013   -662642.0
2010-04-01  Apr-2010         -69417   -391430.0
2010-05-01  May-2010         310503    379920.0

In [10]:
average_change = round(budget_df['Day Change'].mean(),0)
average_change

-2315.0

In [11]:
max_change = budget_df['Day Change'].max()
max_change

1926159.0

In [12]:
max_change_date = budget_df.loc[budget_df['Day Change'] == max_change, 'Date'].item()
max_change_date

'Feb-2012'

In [13]:
min_change = budget_df['Day Change'].min()
min_change

-2196167.0

In [14]:
min_change_date = budget_df.loc[budget_df['Day Change'] == min_change, 'Date'].item()
min_change_date

'Sep-2013'

In [15]:
print('Financial Analysis\n ----------------------------')
print(f'Total Months: {num_months}')
print(f'Total : ${net_profit}')
print(f'Average Change: ${average_change}')
print(f'Greatest Increase in Profits: {max_change_date} (${max_change})')
print(f'Greatest Decrease in Profits: {min_change_date} (${min_change})')

Financial Analysis
 ----------------------------
Total Months: 86
Total : $38382578
Average Change: $-2315.0
Greatest Increase in Profits: Feb-2012 ($1926159.0)
Greatest Decrease in Profits: Sep-2013 ($-2196167.0)